.main-cont {
  border: 3px solid green;
  height: 590px;
  width: 66%;
}
.first-cont {
  border: 2px solid yellow;
  height: 85px;
  width: 95%;
  margin-top: 25px;
  margin-left: 20px;
  display: flex;
}
.fc1 {
  border: 2px solid red;
  height: 60px;
  width: 20%;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}
.fc2 {
  border: 2px solid green;
  height: 60px;
  width: 65%;
  margin-top: 10px;
  margin-left: 90px;
  display: flex;
}
.fc2- {
  border: 2px solid blue;
  height: 35px;
  width: 15%;
  margin-top: 10px;
  margin-left: 150px;
}
.fc2-1 {
  border: 2px solid blue;
  height: 35px;
  width: 15%;
  margin-top: 10px;
  margin-left: 60px;
  text-align: center;
}
.second-cont {
  border: 3px solid red;
  height: 275px;
  width: 96%;
  margin-top: 60px;
  margin-left: 15px;
  display: flex;
}
.sc-1 {
  border: 2px solid blue;
  height: 250px;
  width: 80px;
  margin-top: 10px;
  margin-left: 20%;
  text-align: center;
}
.sc-2 {
  border: 2px solid blue;
  height: 200px;
  width: 80px;
  margin-top: 10px;
  margin-left: 20%;
  text-align: center;
}
